@use "pico";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-end-rgb1: #578B5F;
  --background-start-rgb2: #FFFFFF;
  --foreground-rgb: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #0a0a0a;
 /* background-image: linear-gradient(to bottom, #2d472e, #578B5F);*/
  background:linear-gradient(to bottom, #FFFFFF 0%, #578B5F 80% ); 
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  
  
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* estilos del login */


